<title>Refused</title>

<div class="status-container">
  <div class="status">
    <%= image_tag ("failed.svg"), class:"status-image" %>
    <p class="status-message">The payment was refused. Please try a different payment method or card.</p>
    <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>