<title>Pending</title>

<div class="status-container">
  <div class="status">
     <%= image_tag ("success.svg"), class:"status-image" %>
     <%= image_tag ("thank-you.svg"), class:"status-image status-image-thank-you" %>
     <p class="status-message">Your order has been received! Payment completion pending.</p>
     <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>
