<title><%= @type %></title>

<div class="status-container">
  <div class="status">
     <% if @type == "success" || @type == "pending" %>
        <%= image_tag ("success.svg"), class:"status-image" %>
        <%= image_tag ("thank-you.svg"), class:"status-image status-image-thank-you" %>
     <% else %>
        <%= image_tag ("failed.svg"), class:"status-image" %>
     <% end %>
     <p class="status-message">
       <% if @type == "success" %>
       Your order has been successfully placed.
       <% end %>
       <% if @type == "pending" %>
       Your order has been received! Payment completion pending.
       <% end %>
       <% if @type == "failed" %>
       The payment was refused. Please try a different payment method or card.
       <% end %>
       <% if @type == "error" %>
       Error! Please review response in console and refer to <a href="https://docs.adyen.com       development-resources/response-handling">Response handling.</a>
       <% end %>
     </p>
     <a class="button" href="/" to="#/">Return Home</a>
  </div>
</div>
